﻿<%@ Page Title="East End" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true" CodeFile="EastEnd.aspx.cs" Inherits="East_End_EastEnd" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" Runat="Server">
</asp:Content>

