﻿<%@ Page Title="Central" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true" CodeFile="Central.aspx.cs" Inherits="Central_Central" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" Runat="Server">
</asp:Content>

