﻿<%@ Page Title="South Side" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true" CodeFile="SouthSide.aspx.cs" Inherits="South_Side_SouthSide" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" Runat="Server">
</asp:Content>

